/node_modules
/public/hot
/public/logo.png
/public/logo.jpg
/public/logo.jpeg
/public/storage
/storage/*.key
/postman/*
.env
backup.env
/encrypted
/vendor
/v1/*
firebase.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
sftp.json
